
  <div class="card m-2" style="width: 18rem;">
      <img [src]="movie.background_image" class="card-img-top" [alt]="movie.name">
      <div class="card-body">
        <h5 class="card-title">{{ movie.name }}</h5>
        <p class="card-text">{{movie.rating}}
        </p>
        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="onSelected()">Details</a>
        <a class="btn btn-primary" (click)="onSelected()">Add to cart</a>
      </div>
  </div>

  
<!-- d-flex flex-row flex-wrap -->
<!-- class="card mx-auto m-2" style="width: 18rem;" -->