
  <div class="card m-2" style="width: 18rem;">
    <a href="#" class="list-group-item clearfix" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="onSelected()">
      <img [src]="movie.background_image" class="card-img-top" [alt]="movie.name">
      <div class="card-body">
        <h5 class="card-title">{{ movie.name }}</h5>
        <p class="card-text">{{movie.rating}}
        </p>
        <a class="btn btn-primary">Add to cart</a>
      </div>
    </a>
  </div>






<!-- d-flex flex-row flex-wrap -->
<!-- class="card mx-auto m-2" style="width: 18rem;" -->