<!-- <ul class="nav flex-column ">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul> -->


  <div id="list-example" class="list-group">
    <a class="list-group-item list-group-item-action" href="">{{ results[0].name}}</a>
    <a class="list-group-item list-group-item-action" href="#">Item 2</a>
    <a class="list-group-item list-group-item-action" href="#">Item 3</a>
    <a class="list-group-item list-group-item-action" href="#">Item 4</a>
  </div>

