<!-- <ul class="nav flex-column ">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul> -->


  <div id="list-example" class="list-group">
    <a class="list-group-item list-group-item-action" href="">Salads</a>
    <a class="list-group-item list-group-item-action" href="#">Main dishes</a>
    <a class="list-group-item list-group-item-action" href="#">Beers</a>
    <a class="list-group-item list-group-item-action" href="#">Coctails</a>
  </div>

